@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projeto Aluno em ASP.NET MVC</h1>
    <p class="lead">ASP.NET é um framework web livre para a construção de grandes sites e aplicativos da Web usando HTML, CSS e JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Saber mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Começando</h2>
        <p>
            ASP.NET MVC oferece uma poderosa maneira baseada em padrões para construir sites dinâmicos que
            permite uma clara separação de preocupações e lhe dá controle total sobre a marcação
            para agradável, desenvolvimento ágil.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Saber mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Obtenha mais bibliotecas</h2>
        <p>NuGet é uma extensão do Visual Studio gratuito que faz com que seja fácil de adicionar, remover e atualizar as bibliotecas e ferramentas em projetos do Visual Studio.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Saber mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hospedagem Web</h2>
        <p>Você pode facilmente encontrar uma empresa de hospedagem que oferece a combinação certa de recursos e preço para suas aplicações.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Saber mais &raquo;</a></p>
    </div>
</div>